# Data Preprocessing:

# Load Data

In [15]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Mandar\Desktop\Data.csv')
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [16]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [17]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

# encode with label encoder.
[It encodes all the string data into integer datatype by following alphabetical order]

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
def label_encoder(df):
    for col in list(df.columns):
        if df[col].dtypes=="object":
            df[col]=le.fit_transform(df[col])
    return df
df=label_encoder(df)
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,0,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,1522,36,62,0
1,0,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,3899,35,58,0
2,0,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,2291,18,26,0
3,0,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,4263,3,7,0
4,0,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,4352,31,31,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,68,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,3447,35,62,0
4596,68,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,960,3,6,0
4597,68,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,4033,32,37,0
4598,69,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,3498,35,71,0
4599,69,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,1514,9,26,0

In [19]:
from scipy.stats import skew

In [20]:
df.skew()

date             -0.123595
price            24.790933
bedrooms          0.456447
bathrooms         0.616033
sqft_living       1.723513
sqft_lot         11.307139
floors            0.551441
waterfront       11.682901
view              3.341586
condition         0.959068
sqft_above        1.494211
sqft_basement     1.642732
yr_built         -0.502155
yr_renovated      0.385919
street           -0.002977
city             -0.761791
statezip         -0.146474
country           0.000000
dtype: float64

In [11]:
from sklearn.preprocessing import power_transform
def rem_skew_pt(df):
    array_data=power_transform(df,method="yeo-johnson")
    final_dataframe=pd.DataFrame(array_data,columns=df.columns)
    return final_dataframe
df_pt=rem_skew_pt(df)
df_pt.skew()

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:3253: RuntimeWarning: divide by zero encountered in log
  loglike = -n_samples / 2 * np.log(x_trans.var())

date             -0.288750
price             0.789023
bedrooms          0.033101
bathrooms         0.001835
sqft_living       0.000000
sqft_lot          0.000000
floors            0.132949
waterfront       11.682901
view              2.667543
condition        -0.126640
sqft_above        0.000000
sqft_basement     0.408029
yr_built         -0.101398
yr_renovated      0.385342
street           -0.291501
city             -0.581482
statezip         -0.303421
country           0.000000
dtype: float64

# Scale the data:
# Standerd Scaler

In [21]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
sc=StandardScaler()
def scale_ss(dataframe):
    list_col_object=[col for col in list(dataframe.columns) if dataframe[col].dtypes=="object"]
    list_col_num=[col for col in list(dataframe.columns) if dataframe[col].dtypes!="object"]
    df_num=dataframe[list_col_num]
    array_data=sc.fit_transform(df_num)
    df_num=pd.DataFrame(array_data,columns=df_num.columns)
    df=pd.concat([df_num,dataframe[list_col_object]],axis=1)
    return df
df_scaled_standard_scaler=scale_ss(df)
df_scaled_standard_scaler

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,-1.833713,-0.423864,-0.441122,-0.843204,-0.829971,-0.193434,-0.022416,-0.085004,-0.309194,-0.667112,-0.565224,-0.672464,-0.531014,1.221670,-0.568577,0.861805,1.111825,0.0
1,-1.833713,3.249598,1.759705,0.432802,1.568528,-0.161718,0.906555,-0.085004,4.830079,2.286416,1.789559,-0.069128,-1.674693,-0.825693,1.249466,0.778343,0.920595,0.0
2,-1.833713,-0.372424,-0.441122,-0.205201,-0.217367,-0.080978,-0.951388,-0.085004,-0.309194,0.809652,0.119171,-0.672464,-0.161000,-0.825693,0.019591,-0.640521,-0.609244,0.0
3,-1.833713,-0.234071,-0.441122,0.113800,-0.144686,-0.190145,-0.951388,-0.085004,-0.309194,0.809652,-0.959621,1.482306,-0.261913,-0.825693,1.527871,-1.892459,-1.517585,0.0
4,-1.833713,-0.003482,0.659291,0.432802,-0.206984,-0.121306,-0.951388,-0.085004,-0.309194,0.809652,-0.797222,1.051352,0.175376,1.208396,1.595942,0.444493,-0.370206,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,1.617006,-0.432437,-0.441122,-0.524202,-0.653458,-0.236689,-0.951388,-0.085004,-0.309194,0.809652,-0.368025,-0.672464,-0.564651,1.195121,0.903755,0.778343,1.111825,0.0
4596,1.617006,-0.031271,-0.441122,0.432802,-0.705374,-0.202882,0.906555,-0.085004,-0.309194,-0.667112,-0.426025,-0.672464,0.410840,1.225755,-0.998422,-1.892459,-1.565393,0.0
4597,1.617006,-0.239562,-0.441122,0.432802,0.904009,-0.218462,0.906555,-0.085004,-0.309194,-0.667112,1.371962,-0.672464,1.285418,-0.825693,1.351956,0.527955,-0.083362,0.0
4598,1.667752,-0.618268,0.659291,-0.205201,-0.051238,-0.229164,-0.951388,-0.085004,-0.309194,-0.667112,-0.878421,1.525401,0.108101,-0.825693,0.942762,0.778343,1.542092,0.0
4599,1.667752,-0.587759,-0.441122,0.432802,-0.674224,-0.188139,0.906555,-0.085004,-0.309194,0.809652,-0.391225,-0.672464,0.646303,-0.825693,-0.574696,-1.391684,-0.609244,0.0

# MinMax Scaler

In [23]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler(feature_range=(-1, 1))
def scale_mms(dataframe):
    list_col_object=[col for col in list(dataframe.columns) if dataframe[col].dtypes=="object"]
    list_col_num=[col for col in list(dataframe.columns) if dataframe[col].dtypes!="object"]
    df_num=dataframe[list_col_num]
    df_obj=dataframe[list_col_object]
    array_data=mms.fit_transform(df_num)
    df_num=pd.DataFrame(array_data,columns=df_num.columns)
    df=pd.concat([df_num,df_obj],axis=1)
    return df
dataframe_mms_scaled=scale_mms(df)
dataframe_mms_scaled

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,-1.000000,-0.976457,-0.333333,-0.6250,-0.852696,-0.986449,-0.6,-1.0,-1.0,0.0,-0.785398,-1.000000,-0.035088,0.991063,-0.327144,0.674419,0.631579,-1.0
1,-1.000000,-0.820684,0.111111,-0.3750,-0.501898,-0.984329,-0.2,-1.0,1.0,1.0,-0.336283,-0.883817,-0.631579,-1.000000,0.723696,0.627907,0.526316,-1.0
2,-1.000000,-0.974276,-0.333333,-0.5000,-0.763098,-0.978932,-1.0,-1.0,-1.0,0.5,-0.654867,-1.000000,0.157895,-1.000000,0.012821,-0.162791,-0.315789,-1.0
3,-1.000000,-0.968409,-0.333333,-0.4375,-0.752468,-0.986229,-1.0,-1.0,-1.0,0.5,-0.860619,-0.585062,0.105263,-1.000000,0.884615,-0.860465,-0.815789,-1.0
4,-1.000000,-0.958631,-0.111111,-0.3750,-0.761579,-0.981628,-1.0,-1.0,-1.0,0.5,-0.829646,-0.668050,0.333333,0.978153,0.923961,0.441860,-0.184211,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.971014,-0.976821,-0.333333,-0.5625,-0.826879,-0.989340,-1.0,-1.0,-1.0,0.5,-0.747788,-1.000000,-0.052632,0.965243,0.523873,0.627907,0.631579,-1.0
4596,0.971014,-0.959809,-0.333333,-0.3750,-0.834472,-0.987081,-0.2,-1.0,-1.0,0.0,-0.758850,-1.000000,0.456140,0.995035,-0.575597,-0.860465,-0.842105,-1.0
4597,0.971014,-0.968642,-0.333333,-0.3750,-0.599089,-0.988122,-0.2,-1.0,-1.0,0.0,-0.415929,-1.000000,0.912281,-1.000000,0.782935,0.488372,-0.026316,-1.0
4598,1.000000,-0.984701,-0.111111,-0.5000,-0.738800,-0.988837,-1.0,-1.0,-1.0,0.0,-0.845133,-0.576763,0.298246,-1.000000,0.546419,0.627907,0.868421,-1.0
4599,1.000000,-0.983407,-0.333333,-0.3750,-0.829916,-0.986095,-0.2,-1.0,-1.0,0.5,-0.752212,-1.000000,0.578947,-1.000000,-0.330681,-0.581395,-0.315789,-1.0


# Train Test Split

In [25]:
# splitting of data:
from sklearn.model_selection import train_test_split
def split_data(df):
    feature_df=df.drop(["price"],axis=1)
    target_df=df[["price"]]
    x_train,x_test,y_train,y_test=train_test_split(feature_df,target_df,random_state=0,test_size=0.2,shuffle=True)
    return x_train,x_test,y_train,y_test
x_train,x_test,y_train,y_test=split_data(df)

In [26]:
#x_train,y_train is used for the model training. x_test,y_test is used for the model testing
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [27]:
# Testing the accuracy of the model on training data:
from sklearn.metrics import r2_score
print(f"The accuracy of the regression model is {r2_score(y_train,lr.predict(x_train))*100}%")
print(f"The accuracy of the regression model is {r2_score(y_test,lr.predict(x_test))*100}%")

The accuracy of the regression model is 18.57559826270203%
The accuracy of the regression model is 55.28185888554131%

# Others metrics for validating the model

In [28]:
# mean squared error
from sklearn.metrics import mean_squared_error
def test_mean_squared_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_squared_error of the model is {mean_squared_error(actual,expected_data)}"
test_mean_squared_error(x_test,y_test)

'The mean_squared_error of the model is 66159784559.74254'

In [29]:
# mean absolute error
from sklearn.metrics import mean_absolute_error
def test_mean_absolute_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_absolute_error of the model is {mean_absolute_error(actual,expected_data)}"
test_mean_absolute_error(x_test,y_test)

'The mean_absolute_error of the model is 161275.12273047018'

In [30]:
# root mean square error
from sklearn.metrics import mean_squared_error
import numpy as np
def test_root_mean_absolute_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_absolute_error of the model is {np.sqrt(mean_absolute_error(actual,expected_data))}"
test_root_mean_absolute_error(x_test,y_test)

'The mean_absolute_error of the model is 401.59074034453306'

# Model Training using random forest regressor:

In [31]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
rfr=RandomForestRegressor()
def model_validation_rfr(x_train,x_test,y_train,y_test):
    rfr.fit(x_train,y_train)
    predicted_tr=rfr.predict(x_train)
    predicted_ts=rfr.predict(x_test)
    print(f'''
    The accuracy of the Random Forest Regressor model on the training data is {r2_score(y_train,predicted_tr)*100}% and on the 
    testing data is {r2_score(y_test,predicted_ts)*100}%.
    ''')
model_validation_rfr(x_train,x_test,y_train,y_test)

C:\Users\Mandar\AppData\Local\Temp\ipykernel_11228\2631314196.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

    The accuracy of the Random Forest Regressor model on the training data is 89.08581934474381% and on the
    testing data is 43.90296652396998%.

# Model Training using Boosting Regressor

In [32]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score
def model_validation(x_train,x_test,y_train,y_test):
    gbr=GradientBoostingRegressor()
    gbr.fit(x_train,y_train)
    predicted_tr=gbr.predict(x_train)
    predicted_ts=gbr.predict(x_test)
    return f'''
    The accuracy of the gbr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the gbr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the gbr with default for training data is 83.84068039921861 %.\n    The accuracy of the gbr with default for testing data is 55.177511444001645 %.\n    '

# Hyper parameter tuning with grid search cv:
Cross-validation is used when you need to compare the efficacy of various hyperparameter settings throughout the tuning process. The model is trained and tested for each possible hyperparameter setting, and the results are summarized over k iterations to provide an overall performance score.

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
def model_training_best_parameters(x_train,x_test,y_train,y_test):
    gbr=GradientBoostingRegressor(learning_rate=0.1,loss="huber")
    gbr.fit(x_train,y_train)
    predicted_tr=gbr.predict(x_train)
    predicted_ts=gbr.predict(x_test)
    return f'''
    The accuracy of the gbr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the gbr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_training_best_parameters(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the gbr with default for training data is 26.28028078227248 %.\n    The accuracy of the gbr with default for testing data is 64.44711928063964 %.\n    '

In [34]:
import xgboost as xgb
def model_validation(x_train,x_test,y_train,y_test):
    xgb_reg=xgb.XGBRFRegressor()
    xgb_reg.fit(x_train,y_train)
    predicted_tr=xgb_reg.predict(x_train)
    predicted_ts=xgb_reg.predict(x_test)
    return f'''
    The accuracy of the abr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the abr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

'\n    The accuracy of the abr with default for training data is 81.49947805587051 %.\n    The accuracy of the abr with default for testing data is 30.75927143778705 %.\n    '

In [38]:
from sklearn.ensemble import AdaBoostRegressor
def model_validation(x_train,x_test,y_train,y_test):
    abr=AdaBoostRegressor()
    abr.fit(x_train,y_train)
    predicted_tr=abr.predict(x_train)
    predicted_ts=abr.predict(x_test)
    return f'''
    The accuracy of the abr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the abr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the abr with default for training data is 75.74954520752581 %.\n    The accuracy of the abr with default for testing data is 36.91130173589904 %.\n    '

In [40]:
from sklearn.linear_model import BayesianRidge
def model_validation(x_train,x_test,y_train,y_test):
    br = BayesianRidge()
    br.fit(x_train,y_train)
    br_train_pred = br.predict(x_train)
    br_test_pred = br.predict(x_test)
    return f'''
    The accuracy of the BR with default for training data is {r2_score(y_train,br_train_pred)*100} %.
    The accuracy of the BR with default for testing data is {r2_score(y_test,br_test_pred)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the BR with default for training data is 16.95807863701684 %.\n    The accuracy of the BR with default for testing data is 49.981954251406904 %.\n    '